@import '~office-ui-fabric-react/dist/sass/References.scss';

.page {
  //Grid turned off when using the accordian
  // display: grid;
  width: 100%;
  max-height: 700vh;
  color: black;

  // padding: 10px 50px 20px 20px;
  margin: 0 0!important;
  // background: yellow;

  .itemTable {
    overflow-x: auto;
    width: 100%;
    margin-top: 15px;
    tr:nth-child(even) {background-color: #f2f2f2;}
    th {
      transition:all 0.3s ease;
      background-color: gray;
      color: white;
      padding: 5px 10px;
    }
    tr:hover {
      transition:all 0.3s ease;
      background: lightgray;
    }

    td {
      padding: 5px 10px;
    }
  }

  .infoItems {
    padding: 5px 20px px 20px
  }

  .suggestions {
    button {
      // padding: 5px;
      margin: 5px;
      // background: darkblue;
      cursor: pointer;
    }

    button.isSelected {
      background-color: $ms-color-themePrimary;
      border-color: $ms-color-themePrimary;
      color: $ms-color-white;
      font-weight: bolder;
    }

  }

  .isLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px 0px;
  }

  // https://developer.mozilla.org/en-US/docs/web/css/grid-template-areas

  // grid-template-areas:
  // "banner banner"
  // "buttons buttons"
  // "news links";
  // grid-template-rows: 15px;

}

