@import '~office-ui-fabric-react/dist/sass/References.scss';

.genericItem {
  padding-top: 15px;
  display: grid;
  grid-gap: 10px;
  justify-items: start;
  
  i {
    // padding-right: 15px;
    cursor: pointer;
    font-size: x-large;
    font-weight: x-large;
  }
  div {
    cursor: default;
  }
}

.genericItem0 {
  grid-template-columns: auto auto auto auto auto;
}

.genericItem1 {
    grid-template-columns: 150px auto 85px 200px 40px 40px 60px;
}

.genericItem2 {
  grid-template-columns: 150px auto 85px 40px 40px 60px;
}
