@import '~office-ui-fabric-react/dist/sass/References.scss';

.page {
  display: grid;
  width: 100%;
  max-height: 100vh;
  color: black;

  // https://developer.mozilla.org/en-US/docs/web/css/grid-template-areas

    // https://developer.mozilla.org/en-US/docs/web/css/grid-template-areas

  
    grid-template-areas:
    "banner banner"
    "buttons buttons"
    "news links";
    grid-template-rows: 15px;
    // grid-template-rows: 160px 90px 300px;
    // grid-template-columns: 60% 40%;
    // grid-template-columns: 1fr 1fr;

  // grid-template-areas:
  //   "banner"
  //   "buttons"
  //   "news"
  //   "links";
  // grid-template-rows: 125px 60px 150px 100px;
  // grid-template-columns: 1fr;
  // max-height: 500vh;
  .homeBanner {
    grid-area: banner;
    background: lightblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    // cursor: pointer;
    transition:all 0.4s ease;
    display: grid;
    justify-items: center;
    transition:all 0.4s ease;
  }

  .homeBanner .homeTitle {
    // position: absolute;
    text-align: center;
    // margin-top: 35px;
    font-size: xx-large;
    font-weight: 500;
    z-index: 1;
    cursor: pointer;
    // cursor: default;
    // transition:all 0.4s ease;
  }

  .homeBanner .homeTitle {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, minmax(max-content, 5%));
    justify-content: center;
    justify-items: center;
    margin-top: 20px;
    height: 2em; // Added to fix the height of the actual title
    padding: 10px; // Added to give it a little room around it for button
    transition:all 0.4s ease;

  }

  // .homeBanner:hover i {
  .homeBanner:hover .homeTitle {
    // font-size: 40px;
    // font-weight: 500;
    background: #fdf8f869;
    transition:all 0.4s ease;
    // padding: 20px;
    border-radius: 25px;
  }

  .keyButtons {
    grid-area: buttons;
    background: lightgreen;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, minmax(min-content, 30%));
    align-items: center;
    justify-items: center;

    div {
      padding: 10px 20px;
      background: darkgray;
      font-size: large;
      font-weight: 500;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media all and ( max-width: 1000px ) {
        max-width: 125px;
      }
    }

  }

  .newsBanner {
    grid-area: news;
    background: lightyellow;
  }

  .variousLinks {
    grid-area: links;
    background: lightgray;
    padding: 15px 15px 15px 15px;
    overflow-x: scroll;
    @media all and ( max-width: 1000px ) {
      overflow-x: visible;
    }

    h3 {
      margin-top: 0px;
    }
    
    div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      margin: 10px 20px 10px 20px;
      color: darkblue;
      font-weight: 600;

      .commonLinkLink {
        cursor: pointer;
      }
    }

    div:hover {
      text-decoration: underline;
    }


  }

  @media all and ( max-width: 1000px ) {
    grid-template-areas:
      "banner"
      "buttons"
      "news"
      "links";
      // Tested News without an image and 200px works for 255 characters and no dots... just arrows
    grid-template-rows: 125px 60px 300px 1fr;
    grid-template-columns: 100%;
    max-height: 500vh;
  }

}

