@import '~office-ui-fabric-react/dist/sass/References.scss';

.textField {
  display: table-cell;
  width: 100%;

  label {
    font-weight: bold;
  }

  input {
    //height: 32px;
    min-width: 200px;
    font-size: larger;
  }
}

// .textField1 {
//   display: table-cell;
//   width: 100%;

//   label {
//     font-weight: bold;
//   }

//   input {
//     @extend .highlightBlink1;
//     //height: 32px;
//     min-width: 80px;
//   }
// }

// .textField2 {
//   display: table-cell;
//   width: 100%;

//   label {
//     font-weight: bold;
//   }

//   input {
//     @extend .highlightBlink2;
//     //height: 32px;
//     min-width: 80px;
//   }
// }