@import '~office-ui-fabric-react/dist/sass/References.scss';

.genericItem {
  padding-top: 15px;
  // display: grid;
  // grid-gap: 10px;
  justify-items: start;

  i {
    // padding-right: 15px;
    cursor: pointer;
  }

  .noWrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}


//Commonize these styles across web part for common icons
.rigItemOpenIcon0 i {
  font-size: large;
}

.rigItemOpenIcon12 i {
  font-size: large;
  padding: 5px;
}